:root {
  --primary: #95F;
  --primary2:#73D;
  --secondary: #FFF8;
  --tertiary: #0002;
  --text:#0008;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image:linear-gradient(160deg,var(--primary),var(--primary2));
}

body,
li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



#themes {
  height: 3rem;
  display: flex;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  background-color: var(--tertiary);
}

.theme {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border: none;
}

#redt {
  background-image: linear-gradient(orange, orangered);
}

#bluet {
  background-image: linear-gradient(lightblue, cyan);
}

#greent {
  background-image: linear-gradient(lightseagreen, seagreen);
}

#messages{
  height:80%;
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  height: 2rem;
  margin: 5%;
  background-color: var(--secondary);
  box-shadow: 0.1rem 0.2rem 0.2rem var(--tertiary);
  padding: 0 1rem 0 1rem;
  border-radius: 2rem;
}

.sender {
  margin-left: auto;

}

.receiver {
  margin-right: auto;
}

input {
  height: 3rem;
  width: 80%;
  border: none;
  outline: none;
  background-color: var(--secondary);
  padding-left: 5%;
  box-shadow: 0.05rem 0.1rem 0.1rem var(--tertiary);
  margin-right: auto;
  border-radius: 2rem;
}

input::placeholder {
  color: var(--text);
}

span {
  display: flex;
  margin-top: auto;
  margin-bottom: 3rem;
  width: 90%;
  height: 3rem;
}

#send {
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: var(--secondary);
  color: var(--text);
  box-shadow: 0.05rem 0.1rem 0.1rem var(--tertiary);
}