@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

:root {
  --primary: #076;
  --secondary: #054;
  --lighter: #FFFD;
  --darker: #0002;
  --text: #0008;
}

html,
body,
#loader {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Noto Sans Display', monospace;
}

body,
#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(160deg, var(--primary), var(--secondary));

}


h1,
a,
.fa-volume-up {
  color: transparent;
  -webkit-text-stroke: 1px white;
  margin: 0;
  padding: 0;
  transition: color 0.5s ease-in-out;
}

a:focus {
  color: white;
}

.off {
  -webkit-text-stroke-color: #fff7;
}


#header {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
}

.fa-volume-up {
  background: none;
  border: none;
  font-size: 1.25rem;
}

#messages {
  height: auto;
  width: 100%;
  display: none;
  flex-direction: column;
  overflow: scroll;
}

p {
  min-height: 3rem;
  margin: 2%;
  background-color: white;
  box-shadow: 0.1rem 0.2rem 0.2rem var(--darker);
  padding: 0.1rem 1rem 0.1rem 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  max-width: 50%;
  word-break: break-word;
  animation: go 0.5s ease-in-out;
}

.sender {
  margin-left: auto;
}

.receiver {
  margin-right: auto;
}

input {
  height: 3rem;
  width: 80%;
  border: none;
  outline: none;
  background-color: var(--lighter);
  padding-left: 5%;
  box-shadow: 0.05rem 0.1rem 0.1rem var(--darker);
  margin-right: auto;
  border-radius: 2rem;
}

input::placeholder {
  color: var(--text);
}

#type {
  display: none;
  margin-top: auto;
  margin-bottom: 1rem;
  width: 95%;
  height: 3rem;
}

#send {
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: var(--lighter);
  box-shadow: 0.05rem 0.1rem 0.1rem var(--darker);
}


/*themes*/

#themes {
  height: 3rem;
  display: none;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.theme {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  box-shadow: 0 0 0 0.2rem var(--darker);
}

#redt {
  background-image: linear-gradient(orange, darkorange);
}

#bluet {
  background-image: linear-gradient(lightskyblue, deepskyblue);
}

#greent {
  background-image: linear-gradient(mediumseagreen, seagreen);
}

#purplet {
  background-image: linear-gradient(mediumpurple, rebeccapurple);
}

#blackt {
  background-color: black;
}

#tealt {
  background-image: linear-gradient(#076, #065);
}

@keyframes go {
  from {
    margin-top: 100%;
    background-color: transparent;
  }
}